.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.text {
  flex: 1;
  min-width: 0;
  line-height: 1.7;
  overflow-wrap: break-word;
}

.photo-box {
  /* position: flex;
  top: 30px;
  right: 30px; */
  flex-shrink: 0;
  text-align: center;
}

.profile-photo {
  width: 250px;
  border-radius: 8px;
}

.caption {
  font-size: 14px;
  margin-top: 8px;
}
